.contact-container {
  padding-left: 30px;
  padding-top: 15px;
  margin: 10px;
}
#telefonDiv {
  float:left;
  padding-right: 10px;
}
#emailDiv {
  float: left;
  padding-right: 10px;
}
.navbar-header {
  background-color: #FFB441;
  padding-left: 45px;
}
.navbar-default {
  background-color: #FFB441;
}

ul li a {
  font-family: Verdana;
}
