* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}


.grow img {
  height: 80px;
  width: 80px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover {
  width: 140px;
  height: 80px;
}

.img-responsive2 {
  width: 100%;
  height: auto;
  border-radius: 10%;
  border: 1px solid #FF5500;
  --box-shadow-color: white;
    box-shadow: 3px 3px 3px var(--box-shadow-color);

  -webkit-filter: grayscale(30%)
          brightness(90%)
          contrast(120%);
  filter: grayscale(30%)
          brightness(90%)
          contrast(120%);

  transition: filter 0.44s, box-shadow 0.44s;
  -webkit-transition: filter 0.44s, -webkit-filter 0.44s, box-shadow 0.44s;
}
.img-responsive2:hover,
.img-responsive2:focus {
  -webkit-filter: none;
  filter: none;
  border-radius: 10%;
  --box-shadow-color: #FFB441;
    box-shadow: 1px 2px 2px 2px var(--box-shadow-color);
}
#container {
  padding-left: 60px;
  padding-right: 60px;
}
#leftContainer {
  text-align: center;
  width: 325px;
  padding-right: 60px;
  float: left;
  -webkit-border-radius: 4px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius: 4px;
-moz-border-radius-bottomright: 8px;
border-radius: 4px;
border-bottom-right-radius: 8px;
box-shadow: 1px 2px 4px 3px #FFB441;
}
#rightContainer {
  text-align: center;
  float: left;
  width: 600px;
  -webkit-border-radius: 4px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius: 4px;
-moz-border-radius-bottomright: 8px;
border-radius: 4px;
border-bottom-right-radius: 8px;
}
.top10div {
  margin: 3px;
  height: 82px;
  width: 320px;
  font-size: 15px;
}
.top10div:hover {
  color: black;
}
.img-responsive {
  width: 75px;
  height: 75px;
  float: left;
  clear: left;
}
.img-responsive2 {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  float: left;
  clear: left;
}
.div-round {
  background-color: #FF5500;
  width: 170px;
  -webkit-border-radius: 14px;
-webkit-border-bottom-right-radius: 18px;
-moz-border-radius: 14px;
-moz-border-radius-bottomright: 18px;
border-radius: 14px;
border-bottom-right-radius: 18px;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: #FF5500;
}
.ratingBox {
  color: #FF5500;
  background-color: #FFB441;
}
.box {
  background-color: white;
  color: #FF5500;
  padding: 5px;
}
.frontpage {
  padding: 5px;
  margin: 5px;
  width: 46%;
  height: 132px;
  display: inline-block;
  border-bottom: 1px solid #FFB441;
  border-right: 1px solid #FFB441;
  vertical-align:top;
  cursor: pointer;

}
#bidrag {
  font-size: 20px;
  font-family: verdana;
  background-color: #FFB441;
}
#footer {

}
#page {
  height: 1000px;
}
#top10header {
  font-family: monospace, verdana, fantasy;
  font-size: 20px;
}
.glyphicon-time {
  color: #FFB441;
  padding-top: 20px;
  padding-bottom: 10px;
}
.glyphicon-usd {
  color: #FFB441;
}
.frontpage .readMore{
  visibility: hidden;
}
.frontpage:hover .readMore{
  visibility: visible;

}
.glyphicon-share-alt {
  color: green;
}
