.contact-container {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 10px;
}
.contactUs {
  color: #FFB441;
  font-family: Copperplate;
}
#telefonDiv {
  float:left;
  padding: 5px;
  padding-right: 10px;
}
#emailDiv {
  float: left;
  padding: 5px;
  padding-right: 10px;
}
#contact-phone {
  padding: 5px;
}
#contact-email {
  padding: 5px;
}
#faq {
  padding: 5px;
}
.navbar-header {
  background-color: #FFB441;
  padding-left: 45px;
}
.navbar-default {
  background-color: #FFB441;
}

ul li a {
  font-family: Verdana;
}
li {
  list-style-type: none;
}
