
.contact-container {
  padding-left: 30px;
  padding-top: 15px;
  margin: 10px;
}
#telefonDiv {
  float:left;
  padding-right: 10px;
}
#emailDiv {
  float: left;
  padding-right: 10px;
}
.navbar-header {
  background-color: #FFB441;
  padding-left: 45px;
}
.navbar-default {
  background-color: #FFB441;
}
ul li a {
  font-family: Verdana;
}
#container {
  padding-left: 60px;
  padding-right: 60px;
}
#leftContainer {
  text-align: center;
  border: 1px solid #FFB441;
  padding-left: 60px;
  padding-right: 60px;
  height: 400px;
  width: 400px;
  float: left;
  -webkit-border-radius: 4px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius: 4px;
-moz-border-radius-bottomright: 8px;
border-radius: 4px;
border-bottom-right-radius: 8px;
}
#rightContainer {
  text-align: center;
  border: 1px solid #FFB441;
  padding-left: 60px;
  padding-right: 60px;
  height: 400px;
  width: 400px;
  float: right;
  -webkit-border-radius: 4px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius: 4px;
-moz-border-radius-bottomright: 8px;
border-radius: 4px;
border-bottom-right-radius: 8px;
}

.sr-only {
  background-color: white;
  color: white;
}
#bs-example-navbar-collapse-1 a {
  text-decoration: none;
  font-family: fantasy;
  color: white;
}
#bs-example-navbar-collapse-1 a:hover {
  text-decoration: none;
  font-family: fantasy;
  font-weight: bold;
  color: #FF5500;
}
#active a {
  background-color: #FF5500;
}
#form-control {

}
#form-control:focus {
  color: black;
}

.form-control:hover {
  border: 1px solid black;
}
.btn-default:hover {
  border: 1px solid white;
}
.form-group {

}
.navbar-right {

}
