#categories{
    background-color: #d9d9d9;
    margin-top: -20px;
    margin-bottom: 10px;
}
#categories a{
  color: #1a1a1a;
}
#custom-search-input{
  margin-top: 2%;
  margin-bottom: 1%;
}
.container{
    margin-top: 10px;
}
#price{

}
button{
 border
  border-color: red;
}
