#categories{
    background-color:  #FFB441;
    border: 1px solid orange;
    border-radius: 7px;
}
#categories a{
  color: black;
}
#custom-search-input{
  margin-top: 20px;
}

.container{

}
#price{

}
#searchfilter{
  margin-bottom: 2%;
  margin-right: 2%;
}
button{

}
