.navbar-brand {
  background-color: #FFB441;
}
.navbar-header {
  background-color: #FFB441;
  padding-left: 45px;
}
.navbar-default {
  background-color: #FFB441;
}
.navbar-nav {
  background-color: #FFB441;

}
h2 {
  color: #FFB441;
  font-family: Copperplate;

}
